#root {
    -fx-background-image: url('file:/C:/Users/basde/Desktop/voetbalApplicatie/src/main/resources/com/bas/voetbalapplicatie/images/achtergrond.png'); /* Achtergrondafbeelding */
    -fx-background-repeat: no-repeat; /* Geen herhaling van de achtergrondafbeelding */
    -fx-background-size: cover; /* De achtergrondafbeelding bedekt de volledige achtergrond */
}

/* Stijl voor de TableView */
#clubsTable {
    -fx-background-color: white; /* Achtergrondkleur van de tabel */
    -fx-border-color: #ccc; /* Randkleur van de tabel */
    -fx-border-width: 1px; /* Breedte van de rand van de tabel */
    -fx-pref-height: 480; /* Hoogte van de tabel */
}

/* Stijl voor de rijen in de TableView */
.table-row-cell {
    -fx-background-color: #f4f4f4; /* Achtergrondkleur van de rijen */
}

/* Stijl voor de geselecteerde rij in de TableView */
.table-row-cell:selected {
    -fx-background-color: #d4d4d4; /* Achtergrondkleur van de geselecteerde rij */
}

/* Stijl voor de kolomkoppen in de TableView */
.table-column-header {
    -fx-background-color: #eaeaea; /* Achtergrondkleur van de kolomkoppen */
    -fx-font-weight: bold; /* Vetgedrukte tekst voor de kolomkoppen */
}

.table-view .scroll-bar:horizontal {
    -fx-opacity: 0; /* Horizontale schuifbalk onzichtbaar maken */
}

.table-view .table-cell {
    -fx-font-size:20px; /* Lettergrootte van de tabelcellen */
}

#clubsTable .table-column {
    -fx-alignment: CENTER;
}

#buttons {
    -fx-alignment: center; /* Uitlijning van knoppen naar het midden */
    -fx-pref-width: 800; /* Voorkeursbreedte van de knoppen */
}

#clubToevoegen {
    -fx-font-size: 30;
    -fx-text-fill: black; /* Tekstkleur */
    -fx-background-color: #f36c21; /* Achtergrondkleur */
    -fx-border-color: black; /* Randkleur */
    -fx-border-radius: 30; /* Randradius */
    -fx-background-radius: 40; /* Achtergrondradius */
    -fx-border-width: 3; /* Randdikte */
}

#clubToevoegen:hover {
    -fx-font-size: 30;
    -fx-text-fill: #f36c21; /* Tekstkleur bij hover */
    -fx-background-color: black; /* Achtergrondkleur bij hover */
    -fx-border-color: #f36c21; /* Randkleur bij hover */
    -fx-border-radius: 30; /* Randradius bij hover */
    -fx-background-radius: 40; /* Achtergrondradius bij hover */
    -fx-border-width: 3; /* Randdikte bij hover */
}

#terugKnop {
    -fx-alignment: center; /* Uitlijnen van tekst naar het midden */
    -fx-font-size: 30;
    -fx-text-fill: black; /* Tekstkleur */
    -fx-background-color: red; /* Achtergrondkleur */
    -fx-border-color: black; /* Randkleur */
    -fx-border-radius: 30; /* Randradius */
    -fx-background-radius: 40; /* Achtergrondradius */
    -fx-border-width: 3; /* Randdikte */
}

#terugKnop:hover {
    -fx-font-size: 30;
    -fx-text-fill: red; /* Tekstkleur bij hover */
    -fx-background-color: black; /* Achtergrondkleur bij hover */
    -fx-border-color: red; /* Randkleur bij hover */
    -fx-border-radius: 30; /* Randradius bij hover */
    -fx-background-radius: 40; /* Achtergrondradius bij hover */
    -fx-border-width: 3; /* Randdikte bij hover */
}
